In [1]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, ForeignKey

In [22]:
# Replace with your actual PostgreSQL connection details
db_connection_str = 'postgresql://root:Group123!@mypostgresdb.czsg8gzo4zg1.us-east-2.rds.amazonaws.com:5432/my_data_class_db'
db_connection = create_engine(db_connection_str)

In [13]:
# Create MetaData instance
metadata = MetaData()

In [14]:
# Create tables based on the schema
unemployment = Table('unemployment', metadata,
    Column('FIPS_code', Integer, primary_key=True),
    Column('State', String),
    Column('Area_name', String),
    Column('Year', Integer, primary_key=True),
    Column('Unemployed', Integer),
    Column('Unemployment_rate', Integer)
                    )

In [15]:
poverty = Table('poverty', metadata,
    Column('Year', Integer, primary_key=True),
    Column('FIPS_code', Integer, primary_key=True),
    Column('State', String),
    Column('Area_name', String),
    Column('Rural_urban_continuum_code_2003', Integer),
    Column('Urban_influence_code_2003', Integer),
    Column('Rural_urban_continuum_code_2013', Integer),
    Column('Urban_influence_code_2013', Integer),
    Column('POVALL', Integer),
    Column('PCTPOVALL', Integer)
)

In [36]:
personal_income = Table('personal_income', metadata,
    Column('Year', Integer, primary_key=True),
    Column('County', String),
    Column('State', String),
    Column('GeoFips', Integer, primary_key=True),
    Column('Personal_Income', Integer),
    Column('Population', Integer),
    Column('Per_Capita_Personal_Income', Integer)
)

In [17]:
education = Table('education', metadata,
    Column('Year', Integer, primary_key=True),
    Column('FIPS_code', Integer, primary_key=True),
    Column('State', String),
    Column('Area_name', String),
    Column('Number of adults with less than HS diploma', Integer),
    Column('Number of adults with HS diploma only', Integer),
    Column('Number of adults completing some college or associates degree', Integer),
    Column('Number of adults with a bachelors degree or higher', Integer)
                 )

In [18]:
opioid_deaths_all = Table('opioid_deaths', metadata,
    Column('County', String),
    Column('CountuCode', Integer, primary_key=True),
    Column('Deaths', Integer),
    Column('Population', Integer),
    Column('Crude_rate', Integer),
    Column('Year', Integer, primary_key=True)
)

In [19]:
population = Table('population', metadata,
    Column('Year', Integer, primary_key=True),
    Column('FIPS_code', Integer, primary_key=True),
    Column('County', String),
    Column('State', String)
                  )

In [20]:
prescription_rate = Table('prescription_rate', metadata,
    Column('State', String),
    Column('County', String),
    Column('County_FIPSCode', Integer, primary_key=True),
    Column('OpioidDispenseRateper100', Integer),
    Column('Year', Integer, primary_key=True) 
                         )

In [23]:
# Create all the tables in the metadata
metadata.create_all(db_connection)

In [26]:
import pandas as pd
from sqlalchemy import create_engine

# Replace with your actual PostgreSQL connection details
db_connection_str = 'postgresql://root:Group123!@mypostgresdb.czsg8gzo4zg1.us-east-2.rds.amazonaws.com:5432/my_data_class_db'
db_connection = create_engine(db_connection_str)

# Load each CSV file into a pandas DataFrame
unemployment_df = pd.read_csv('unemployment.csv')
poverty_df = pd.read_csv('poverty.csv')
personal_income_df = pd.read_csv('Personal_Income_2017_2020.csv')
education_df = pd.read_csv('education.csv')
prescription_rate_df = pd.read_csv('2017_2020CountyOpioidPrescriptionRate.csv')
opioid_deaths_df = pd.read_csv('opioid_deaths_all.csv')
population_df = pd.read_csv('population.csv')

In [37]:
# Load each DataFrame into its respective table in the PostgreSQL database
unemployment_df.to_sql('unemployment', db_connection, if_exists='replace', index=False)
poverty_df.to_sql('poverty', db_connection, if_exists='replace', index=False)
personal_income_df.to_sql('personal_income', db_connection, if_exists='replace', index=False)
education_df.to_sql('education', db_connection, if_exists='replace', index=False)
prescription_rate_df.to_sql('prescription_rate', db_connection, if_exists='replace', index=False)
opioid_deaths_df.to_sql('opioid_deaths', db_connection, if_exists='replace', index=False)
population_df.to_sql('population', db_connection, if_exists='replace', index=False)

In [38]:
# Query and print a sample of data to verify the loading process
sample_data = pd.read_sql_query('SELECT * FROM personal_income LIMIT 10', db_connection)
print(sample_data)

   Year    County State  GeoFips  Personal Income (thousands of dollars)  \
0  2017   Autauga    AL     1001                                   40185
1  2017   Baldwin    AL     1003                                   44870
2  2017   Barbour    AL     1005                                   32167
3  2017      Bibb    AL     1007                                   28912
4  2017    Blount    AL     1009                                   33922
5  2017   Bullock    AL     1011                                   25784
6  2017    Butler    AL     1013                                   35785
7  2017   Calhoun    AL     1015                                   34852
8  2017  Chambers    AL     1017                                   31372
9  2017  Cherokee    AL     1019                                   35613

   Population (persons)  Per Capita Personal Income
0               2305472                       57371
1               9663394                      215365
2                823738                       25608
3                653575                       22606
4               1990387                       58676
5                268801                       10425
6                700952                       19588
7               4070579                      116796
8               1099211                       35038
9                886730                       24899